{
  "tokens": {
    "git.framasoft.org": "your_gitlab_account_private_token"
  },
  "github": {
    "clientId": "yourClientId",
    "clientSecret": "yourClientSecret",
    "userAgent": "yourGithubPseudo"
  },
  "redisPrefix": "last-commit"
}
